{% extends "/auth/layout.html" %}
{% block title %}Game{% endblock %}
{% block page %}Endless{% endblock %}
{%block content %}
<h4 class="scoreHeading" id="scoreHeading">Score: <span id="score">0</span></h4>
</div>
<div id="game">
        <div id="board-container">
          <div id="board" style="width: 350px; height: 420px;">
              <div>
            
                  {% include '/components/game_row.html' %}
                  {% include '/components/game_row.html' %}
                  {% include '/components/game_row.html' %}
                  {% include '/components/game_row.html' %}
                  {% include '/components/game_row.html' %}
              
              </div>
        </div>
    </div>
    {%endblock%}

    {%block script%}
    <script type="text/javascript">
      
      const fetchResponse = async (data) =>{
        const response = await fetch('/check',{
          method: 'POST', // *GET, POST, PUT, DELETE, etc.
          mode: 'cors', // no-cors, *cors, same-origin
          cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
          credentials: 'same-origin', // include, *same-origin, omit
          headers: {
            'Content-Type': 'application/json'
            // 'Content-Type': 'application/x-www-form-urlencoded',
          },
          redirect: 'follow', // manual, *follow, error
          referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
          body: JSON.stringify(data ) // body data type must match "Content-Type" header
        });
        return response.json(); // parses JSON response into native JavaScript objects
      }
      const updateTile = (form, data) => {
      let tiles = form.elements['tile']
      let index = 1
      for (let tile of tiles){
        
        tile.setAttribute('data-state', data[index])
        index ++
        console.log(tile.getAttribute('data-state'))
      }
      
      
       
      }
      const updateModal = (elem, game, url, state, message) => {
        elem.innerHTML = ''
        elem.innerHTML += `
        <div class="modal-content">
          <h4>${state}</h4>
          <p> Word = ${game.word.word}<br> Meaning = ${game.word.meaning}</p>
        </div>
      
    
        <div class="modal-footer">
          <Button onclick="handleModal('${url}')" class="modal-close waves-effect waves-green btn-flat">${message}</Button>
        </div>
        `

      }
      const getRoute = async (url) => {
        let response = await fetch(url)
        return response.json()
      }
      const handleModal = (url) => {
        if (url == "/new_round"){
          getRoute(url).then(data=>{
            window.location.href='/start'
            updateScore(getRoute('/query'))
          })
        }else {
          window.location.href='/end'
        }
     
      }
      const updateScore = (game) => {
        let score = document.getElementById('score')
        
        score.innerHTML = game.score
      }
      const getData =  async (form) => {
       

        let formData = new FormData(form)
        let string = formData.getAll("tile")
      
        string = string.join('')
        let dict = {
          word : string
        }
        fetchResponse(dict).then(async function(data) {
          
          updateTile(form, data['response'])
          let elem = document.getElementById('modal1');
          let instance = M.Modal.getInstance(elem);
          getRoute('/query').then(game=> {
            updateScore(game)
            if(data['chances'] <= 0){
              updateModal(elem,game,"/end","Game Over!", "Return to Menu")
              instance.open()
            }
            if (data['isCorrect'] == true){
              updateModal(elem,game,"/new_round","Round Win!", "Next Round")
              instance.open()
            } 
          })
            
    
          
         })
       
       
      }
      document.addEventListener("DOMContentLoaded", async function() {
          let response = await getRoute('/query')
          updateScore(response)
      
        
      });
    </script> 
    {%endblock%}
