{% extends "layout.html" %}
{% block title %}Leaderboard{% endblock %}
{% block page %}Leaderboard{% endblock %}

{{ super() }}

{% block content %}
    <main class="lb">
        <table class="leaderboard">
            <colgroup>
              <col class="teal" />
              <col class="purple" />
            </colgroup>
            <tbody>
                {% for i in range (4): %}               
                <tr>
                  <td class="rank">{{i+1}}</td>
                  <td class="user">{{data[i]}}</td>
                </tr>
              {%  endfor %}
            </tbody>
        </table>
    </main>
{% endblock %}
