{% extends "/auth/layout.html" %}
{% block title %}Leaderboard{% endblock %}
{% block page %}Leaderboard{% endblock %}



{% block content %}
    <main class="lb">
        <table class="leaderboard">
            <colgroup>
              <col class="teal" />
              <col class="purple" />
            </colgroup>
            <tbody>

                {% for rank in rankings%}  
                
                <tr>
                  <td class="rank">{{loop.index}}</td>
                  <td class="user">{{rank.username}}</td>
                </tr>
              
              {%  endfor %}
           
            </tbody>
        </table>
    </main>
{% endblock %}
