@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Karla:wght@500&family=Roboto+Condensed:wght@700&display=swap');

/* MOBILE VIEW */
body {
    color: white;
    background-image: url("/static/bgimg.png") !important;
    font-family: 'Inter', sans-serif;
}

/* Splash Screen */
main {
    padding: 50% 50% 10% 24%;
    text-align: center;
}

.invisible {
    color: white !important;;
    text-decoration: none;
}

/* Frame */
.wrapper {
    display: grid;
    grid-template-columns: 80px 80px;          
}

.box {
    background-color: #C4C4C4;
    border: 2px solid black;
    padding: 30px !important;        
}

/* splash heading */
.splash-heading{
    text-shadow: 3px 3px black;
}   
.nobr {
    white-space: nowrap;
}

.center {
    margin-left: 0.8rem !important;
}

.small{
    font-size: 1rem !important;
    text-shadow: 2px 3px black;
    margin: 8rem 8rem 0rem 0rem !important;
}

/* LOGIN */
/* .login {


} */

.submit-btn {
    border-radius: 4px;
    box-shadow: 0px, 4px rgba(0, 0, 0, 0.25);
    padding:15px 12px 10px 12px;
    font-size: 20px;
    width:300px;
    color:white;
}

#login-btn {
    background-color: #00B8B8;
}


/* SIGNUP */
#signup-btn {
background-color: #AD00FF;

}


/* DESKTOP VIEW */
@media only screen and (min-width: 768px){
    body {
        background-size: cover !important;
        background-repeat: no-repeat;
    }
    
    /* Splash Screen */
    main {
        padding: 10% 50% 0% 35%;
        text-align: center;
    }

    /* Frame */
    .wrapper {
        display: grid;
        grid-template-columns: 140px 140px;          
    }

    .box {
        background-color: #C4C4C4;
        border: 2px solid black;
        padding: 50px !important;        
    }

    /* splash heading */
    .splash-heading {
        font-size: 60px;
    }

    .center {
        margin-left: 2.5rem !important;

    }

    .small{
        font-size: 1rem !important;
        margin: 8rem 10rem 0rem 0rem !important;
    
    }
    
}