    /* MOBILE VIEW */
    
    body {
        color: white;
        background-image: url("/static/bgimg.png") !important;
        font-family: Retro;
    }
    /* Splash Screen */
    
    .main-img {
        max-width: 100%;
        height: auto;
        margin: 0px;
    }
    
    .home {
        padding: 45% 30% 5% 35%;
        text-align: center;
    }
    
    .invisible {
        color: white !important;
        text-decoration: none;
    }
    /* Frame */
    /* .wrapper {
        display: grid;
        grid-template-columns: 80px 80px;
    }
    
    .box {
        background-color: #C4C4C4;
        border: 2px solid black;
        padding: 30px !important;
    } */
    /* splash heading */
    
    .splash-heading {
        text-shadow: 3px 3px black;
        font-family: Retro;
        margin-left: -26px;
    }
    
    @font-face {
        font-family: Retro;
        src: url('./RetroGaming.ttf');
    }
    
    .nobr {
        white-space: nowrap;
    }
    
    .center {}
    
    .brand-logo {
        font-size: 20px !important
    }
    
    .flash {
        margin: 3rem 0% 0% 0rem;
        font-size: 1.5rem!important;
        font-family: Retro;
        animation: flashing 2s linear infinite;
    }
    
    .small {
        margin-top: 40px;
    }
    
    @keyframes flashing {
        50% {
            opacity: 0;
        }
    }
    
    input .small {
        font-size: 1rem !important;
        text-shadow: 2px 3px black;
        margin: 6rem 4rem 0rem 0rem !important;
    }
    /* LOGIN */
    
    .auth {
        padding: 30% 20% 0% 25%!important;
    }
    
    .input-container {
        margin: 0% 0%;
    }
    
    .auth-input {
        width: 100% !important;
        padding: 3px 5px 3px 5px!important;
        margin: 8px 0px 20px 0px!important;
        display: inline-block!important;
        border: 2px solid black;
        border-radius: 3px !important;
        box-sizing: border-box !important;
        background-color: white !important;
    }
    
    input:focus+label {
        color: unset !important;
    }
    
    .auth-label {
        color: white!important;
        font-size: 120%;
    }
    
    .submit-btn {
        border: none;
        font-family: Retro;
        padding: 15px 0px 10px 0px;
        font-size: 20px;
        width: 100%;
        color: white;
    }
    
    #login-btn {
        background-color: #00B8B8;
    }
    
    #login-btn:hover {
        background-color: #029595!important;
    }
    
    .sign {
        font-weight: none!important;
        text-shadow: 1px 1px black !important;
        margin-top: 40px;
        margin-bottom: 10px;
    }
    /* SIGNUP */
    
    #signup-btn {
        background-color: #AD00FF;
    }
    
    #signup-btn:hover {
        background-color: #7d04b6!important;
    }
    
    .row input {}
    
    .tile {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        line-height: 2rem;
        font-weight: bold;
        vertical-align: middle;
        box-sizing: border-box;
        color: white;
        text-transform: uppercase;
        user-select: none;
        background-color: gray !important;
        text-align: center;
    }
    /* Allow tiles to be smaller on small screens */
    
    @media (max-height: 600px) {
        .tile {
            font-size: 1em;
            line-height: 1em;
        }
    }
    
    .tile[data-state='empty'] {
        border: 2px solid var(--color-tone-4);
    }
    
    .tile[data-state='tbd'] {
        background-color: var(--color-tone-7);
        border: 2px solid var(--color-tone-3);
        color: var(--color-tone-1);
    }
    
    .tile[data-state='correct'] {
        background-color: #00B8B8 !important;
    }
    
    .tile[data-state='present'] {
        background-color: #FF8A00 !important;
    }
    
    .tile[data-state='absent'] {
        background-color: #898989 !important;
    }
    
    .tile[data-animation='pop'] {
        animation-name: PopIn;
        animation-duration: 100ms;
    }
    
    @keyframes PopIn {
        from {
            transform: scale(0.8);
            opacity: 0;
        }
        40% {
            transform: scale(1.1);
            opacity: 1;
        }
    }
    
    .tile[data-animation='flip-in'] {
        animation-name: FlipIn;
        animation-duration: 250ms;
        animation-timing-function: ease-in;
    }
    
    @keyframes FlipIn {
        0% {
            transform: rotateX(0);
        }
        100% {
            transform: rotateX(-90deg);
        }
    }
    
    .tile[data-animation='flip-out'] {
        animation-name: FlipOut;
        animation-duration: 250ms;
        animation-timing-function: ease-in;
    }
    
    @keyframes FlipOut {
        0% {
            transform: rotateX(-90deg);
        }
        100% {
            transform: rotateX(0);
        }
    }
    
    .row {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 5px;
    }
    
    .game {
        width: 100%;
        max-width: var(--game-max-width);
        margin: 0 auto;
        height: calc(100% - var(--header-height));
        display: flex;
        flex-direction: column;
    }
    
    #board {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 5px;
        padding: 30px;
        box-sizing: border-box;
        margin: 70px 0px;
    }
    
    #board-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        overflow: hidden;
    }
    
    .host {
        display: inline-block
    }
    
    .spacer {
        height: 200px;
    }
    /* Menu */
    
    .red-btn {
        background-color: #CB0000 !important;
        margin-top: 50px;
    }
    
    .red-btn:hover {
        background-color: #b80505!important;
    }
    
    .menu {
        margin: 8% 5% 0% 5%;
    }
    
    .menu-btn {
        margin-top: 5%;
        border-radius: 20px;
    }
    
    #logout {
        margin-top: 25%;
    }
    /* LEADERBOARD */
    
    .lb {
        margin: 0%;
    }
    
    .leaderboard {
        margin: 30% 5% 0% 10%;
        width: 80%;
    }
    
    table,
    th,
    td {
        border: 2px solid white!important;
        border-collapse: collapse!important;
    }
    
    .rank {
        text-align: center;
        padding: 5px;
    }
    
    .user {
        text-transform: uppercase;
        padding: 25px;
    }
    /* ACCOUNT DETAILS */
    
    #save-btn {
        background-color: #00B8B8 !important;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 3px 20px 0px;
        border-radius: 65px;
        width: 50%;
        margin-left: 23%!important;
    }
    
    #save-btn:hover {
        background-color: #03427d!important;
    }
    /* DESKTOP VIEW */
    
    @media only screen and (min-width: 768px) {
        body {
            background-size: cover !important;
            background-repeat: no-repeat;
        }
        /* Splash Screen */
        .home {
            padding: 5% 50% 0% 38%;
        }
        /* Frame */
        .wrapper {
            grid-template-columns: 140px 140px;
        }
        .box {
            background-color: #C4C4C4;
            border: 2px solid black;
            padding: 50px !important;
        }
        .main-img {
            max-width: 250%;
            height: 15rem!important;
            margin: 20%;
        }
        /* splash heading */
        .splash-heading {
            font-size: 60px;
            margin-left: -15px;
        }
        .flash {
            margin: 3rem 0% 0% 5.5rem;
        }
        .small {
            margin: 4rem 0rem 0rem 4rem !important;
        }
        /* AUTH (LOGIN/SIGNUP) */
        .auth {
            padding: 12% 20% 0% 20%!important;
            margin: unset;
        }
        /* Menu */
        .menu {
            margin: 5% 20% 0% 20%;
            width: 60%;
        }
        .menu-btn {
            margin-top: 3%;
        }
        #logout {
            margin-top: 18%;
        }
        /* LEADERBOARD */
        .lb {
            margin: 0%;
        }
        .leaderboard {
            margin: 10% 5% 0% 12%!important;
            width: 75%;
        }
    }