{% extends "layout.html" %}
{% block title %}Spell It | Home{% endblock %}
{% block page %}Spell It{% endblock %}

{{ super() }}

{% block content %}
<a href="login" class="invisible">
<main>
    <!-- Frame -->
    <div class="wrapper">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    
    <section class="center">
        
        <h3 class="splash-heading nobr"> Spell It</h3>
        <article class="small">
            <h6 class="nobr center">THE 4 STOOGES </h6>
            <h6 class="nobr center"> GROUP Project</h6>
        </article>
    </section>

</main>
</a>
{% endblock %}