{% extends "layout.html" %}
{% block title %}Spell It | Home{% endblock %}
{% block page %}Spell It{% endblock %}

{{ super() }}

{% block content %}
<main>
    <!-- Frame -->
    <div class="wrapper">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>   
    </div>
    
    <section  class="center">
        <h3 class="splash-heading nobr"> Spell It</h3>
            <h6 class="nobr small">THE 4 STOOGES </h6>
            <h6 class="nobr small"> GROUP Project</h6>
    </section>
</main>
{% endblock %}