{% extends "layout.html" %}


{{ super() }}

{% block content %}
    <main class="auth">
        <div class="spacer" ></div>
        <form class="auth-form text-center" action="login" method="POST">
            <div class="input-container">
                <label for="username" class="auth-label"> USERNAME </label>
                <input type="text" class="auth-input" id="usermame" name="username" required>

                <label for="password" class="auth-label"> PASSWORD </label>
                <input type="password" class="auth-input" id="password" name="password" required>
            </div>
            <input type="submit" value="LOGIN" id="login-btn" class="submit-btn">
        </form>
        <span class="center">
            <div class="nobr sign align-center"> 
                DON&#39;T HAVE AN ACCOUNT?
            </div>
            <input type="submit" value="SIGNUP" id="signup-btn" class="submit-btn" onclick="window.location.href='{{ url_for('signup') }}'">
        </span>
    </main>
{% endblock %}
