{% extends "layout.html" %}
{% block title %}Play Game{% endblock %}
{% block page %}Menu{% endblock %}


{% block content %}
<main class="menu text-center">
        <button class="orange menu-btn submit-btn">TIME ATTACK</button>
        <button class="teal menu-btn submit-btn">ENDLESS</button>
        <button class="orange menu-btn submit-btn">LEADERBOARD</button>
        <button class="teal menu-btn submit-btn"  onclick="window.location.href='user'">EDIT ACCOUNT</button>
        <button id="logout" class="red-btn submit-btn" onclick="window.location.href='/'"> LOGOUT </button>
</main>
{% endblock %}