{% extends "layout.html" %}
{% block title %}Play Game{% endblock %}
{% block page %}Menu{% endblock %}


{% block content %}
<div class="menuButtons submit-btn text-center center">
    <div>
        <button class="orange">TIME ATTACK</button>
    </div>
    <div>
<button class="teal">ENDLESS</button>
</div>
<div>
<buton class="orange">LEADERBOARD</button>
</div>
<div>
<button class="teal">EDIT ACCOUNT</button>
</div>
</div>
<span class="logout">
    <button class="logout">LOGOUT</button>
</span>
{% endblock %}