{% extends "/guest/layout.html" %}
{% block title %}Signup{% endblock %}
{% block page %}Signup{% endblock %}

{{ super() }}

{% block content %}
    <main class="auth">
        <div class="spacer" ></div>
        <form class="auth-form text-center" action="signup" method="POST">
            <div class="input-container">
            <label for="username" class="auth-label"> USERNAME </label>
            <input type="text" class="auth-input" name="username" required>

            <label for="pass" class="auth-label"> PASSWORD </label>
            <input type="password" class="auth-input" id="pw1" name="password" required>
           
            <label for="pw" class="auth-label"> RE-ENTER PASSWORD </label>
            <input type="password" class="auth-input" id="pw2" name="pw" onfocusout='checkpw()' required>
            </div>
            <input type="submit" value="SIGNUP" id="signup-btn" class="submit-btn" disabled>
        </form>
        <span class="center">
            <div class="nobr sign align-center">
                ALREADY HAVE AN ACCOUNT?
            </div>
            <a href="/login" class="invisible">
                <input type="button" value="LOGIN" id="login-btn" class="submit-btn">
            </a>
            
        </span>
    </main>
{% endblock %}
{% block script%}
    <script>
        const checkpw = () => {
            let pw1 = document.getElementById("pw1").value
            let pw2 = document.getElementById("pw2").value
            console.log(pw1, pw2)
            let signup_btn = document.getElementById("signup-btn")
            if (pw1 != pw2){
                alert("Passwords do not match!")
                signup_btn.disabled = true;
            }
            else {  
                signup_btn.disabled =  false;
            } 
        }
    </script>
{%endblock%}
